
body {
    font-family: "HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    color: #008080;
    font-size: 12px;
    background: #008080 url(/images/classy_fabric.png);
    text-align: center;
}
form {
    background: #111;
    width: 500px;
    margin: 30px auto;
    border-radius: 7em;
    border: 50px solid #191919;
    overflow: hidden;
    position: relative;
    box-shadow: 0 10px 10px 5px rgba(0,0,0,0.2);
    height:600px;
}

